flow.json
[{"id":"8ddc38d9.454648","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dcd5f882.362f58","type":"tab","label":"Flow 2"},{"id":"8d757931.ca52c8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2f8a1d24.bedb52","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"ac8a2af1.261a38","type":"ui_tab","z":"","name":"Roboy Control","icon":"dashboard","order":"1"},{"id":"d67480db.76727","type":"ros-server","z":"","url":"ws://192.168.0.105:9090"},{"id":"f982306e.42e81","type":"ui_tab","z":"","name":"NVR","icon":"dashboard","order":13},{"id":"b41e18e8.0aef98","type":"ros-server","z":"","url":"ws://localhost:33023"},{"id":"d3dc9d54.ca924","type":"ui_tab","z":"","name":"Roboy Control","icon":"dashboard","order":"1"},{"id":"bf9c56ca.38f488","type":"ros-server","z":"","url":"ws://192.168.2.19:9090"},{"id":"da50eb1e.351938","type":"ui_tab","z":"","name":"Roboy Control","icon":"dashboard","order":"1"},{"id":"7a8176b3.20cc08","type":"ros-server","z":"","url":"ws://192.168.2.19:9090"},{"id":"15f5b6fa.08a479","type":"ui_tab","z":"","name":"Roboy Control","icon":"dashboard","order":"1"},{"id":"8d2fc68f.7bbe08","type":"ros-server","z":"","url":"ws://192.168.0.105:9090"},{"id":"60234210.a2e3ec","type":"ros-server","z":"","url":"ws://localhost:9090"},{"id":"1ce3cb6f.b2c125","type":"ui_tab","z":"","name":"BeRoboy","icon":"dashboard","order":"2"},{"id":"a5e7a82a.738d98","type":"ui_tab","z":"","name":"Skill Machine","icon":"dashboard","order":"3"},{"id":"11d8834f.662d0d","type":"ros-server","z":"","url":"ws://192.168.0.105:9090"},{"id":"1db33062.0c23e","type":"ros-server","z":"","url":"ws://localhost:9090"},{"id":"210e1ff4.c05fb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"b1733b1d.497228","type":"ui_tab","z":"","name":"Roboy Control","icon":"dashboard","order":"1"},{"id":"818e91dd.b5d2d","type":"ros-server","z":"","url":"ws://192.168.0.105:9090"},{"id":"360e894a.c9a396","type":"ui_tab","z":"","name":"NVR","icon":"dashboard","order":13},{"id":"da49a4cc.5dbf48","type":"ros-server","z":"","url":"ws://localhost:33023"},{"id":"2c099d14.8c0cc2","type":"ui_tab","z":"","name":"Roboy Control","icon":"dashboard","order":"1"},{"id":"6f98f047.c678c","type":"ros-server","z":"","url":"ws://192.168.2.19:9090"},{"id":"568cc721.5e5f18","type":"ui_tab","z":"","name":"Roboy Control","icon":"dashboard","order":"1"},{"id":"921a3c53.0197f","type":"ros-server","z":"","url":"ws://192.168.2.19:9090"},{"id":"c205437.e0bb4c","type":"debug","z":"8ddc38d9.454648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1225,"y":79,"wires":[]},{"id":"5a8ebc67.8aa2e4","type":"exec","z":"8ddc38d9.454648","command":"rosrun roboy_skill_machine skill_machine_client.py launch nod roboy_skill_machine nod.launch False \"[('nod', 'nod.py', 'roboy_skill_machine', 'localhost')]\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":615,"y":174.5,"wires":[["c205437.e0bb4c"],["c205437.e0bb4c"],["c205437.e0bb4c"]]},{"id":"e04ade62.51223","type":"ui_button","z":"8ddc38d9.454648","tab":"a5e7a82a.738d98","name":"Nod","payload":"","topic":"","group":"Head Movement","order":1,"x":71,"y":63,"wires":[["5a8ebc67.8aa2e4"]]},{"id":"e324f1ce.879a7","type":"ui_button","z":"8ddc38d9.454648","tab":"a5e7a82a.738d98","name":"User Tracking","payload":"","topic":"","group":"Head Movement","order":1,"x":84,"y":358,"wires":[["1b919f13.e2cab1"]]},{"id":"1b919f13.e2cab1","type":"exec","z":"8ddc38d9.454648","command":"rosrun roboy_skill_machine skill_machine_client.py launch user_tracking roboy_skill_machine user_tracking.launch True \"[]\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":611,"y":275.5,"wires":[["13ac6dc6.c5e6a2"],["13ac6dc6.c5e6a2"],["13ac6dc6.c5e6a2"]]},{"id":"13ac6dc6.c5e6a2","type":"debug","z":"8ddc38d9.454648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1200,"y":380,"wires":[]},{"id":"1d3f0941.cd3bc7","type":"exec","z":"8ddc38d9.454648","command":"rostopic echo -n 1 /roboy/middleware/MotorStatus","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":348,"y":563.5,"wires":[["702b79a0.d678b8"],[],[]]},{"id":"6ca080a2.29ddd","type":"inject","z":"8ddc38d9.454648","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":104,"y":644,"wires":[["1d3f0941.cd3bc7"]]},{"id":"702b79a0.d678b8","type":"string","z":"8ddc38d9.454648","name":"get the motor current","methods":[{"name":"between","params":[{"type":"str","value":"current: ["},{"type":"str","value":"]\\n"}]},{"name":"split","params":[{"type":"str","value":","},{"type":"num","value":"50"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":672,"y":639,"wires":[["4a3d1115.6c16d","349442ec.e880fe","b0fb4461.f3b178"]]},{"id":"4a3d1115.6c16d","type":"function","z":"8ddc38d9.454648","name":"Shoulders Motors Current","func":"var currents = msg.payload;\nvar sum = 0;\nfor (i = 0; i < 9; i++) {\n  //motors 0 to 8 are for the shoulders\n  sum += parseInt(currents[i],10);\n}\nmsg.payload = sum/9;\nreturn msg;","outputs":1,"noerr":0,"x":939,"y":513,"wires":[["b15c2603.7a29a8"]]},{"id":"349442ec.e880fe","type":"function","z":"8ddc38d9.454648","name":"Head Motors Current","func":"var currents = msg.payload;\nvar sum = 0;\nfor (i = 9; i < 15; i++) { \n    //motors 9 to 14 are for head\n  sum += parseInt (currents[i] , 10);\n}\nmsg.payload = sum/6;\nreturn msg;","outputs":1,"noerr":0,"x":978,"y":640,"wires":[["63ec5872.d26218"]]},{"id":"b0fb4461.f3b178","type":"function","z":"8ddc38d9.454648","name":"Legs Motors Current","func":"var currents = msg.payload;\nvar sum = 0;\nfor (i = 15; i < 21; i++) { \n    // motors 15 to 20 are for the legs\n  sum += parseInt(currents[i],10);\n}\nmsg.payload = sum/7;\nreturn msg;","outputs":1,"noerr":0,"x":956,"y":758,"wires":[["362e0192.8fabbe"]]},{"id":"b15c2603.7a29a8","type":"ui_gauge","z":"8ddc38d9.454648","tab":"a5e7a82a.738d98","name":"Shoulders Motor Status","group":"Motor Status","order":1,"format":"{{value}}","min":0,"max":"5000","x":1187,"y":514,"wires":[]},{"id":"63ec5872.d26218","type":"ui_gauge","z":"8ddc38d9.454648","tab":"a5e7a82a.738d98","name":"Head Motors Status","group":"Motor Status","order":"2","format":"{{value}}","min":0,"max":"5000","x":1204,"y":634,"wires":[]},{"id":"362e0192.8fabbe","type":"ui_gauge","z":"8ddc38d9.454648","tab":"a5e7a82a.738d98","name":"Legs Motors Status","group":"Motor Status","order":"3","format":"{{value}}","min":0,"max":"5000","x":1174,"y":755,"wires":[]},{"id":"b2f944a3.d50648","type":"ui_button","z":"8ddc38d9.454648","tab":"a5e7a82a.738d98","name":"Start Plexus","payload":"","topic":"","group":"Plexus","order":1,"x":118,"y":880,"wires":[["a20dcb2a.6e9588"]]},{"id":"a20dcb2a.6e9588","type":"exec","z":"8ddc38d9.454648","command":"rosrun roboy_skill_machine skill_machine_client.py execute roboy_plexus \"$(rospack find roboy_skill_machine)/launch/roboy_plexus.sh\" False \"[]\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":613,"y":953.5,"wires":[["3830f4ec.b5dbdc"],["3830f4ec.b5dbdc"],["3830f4ec.b5dbdc"]]},{"id":"3830f4ec.b5dbdc","type":"debug","z":"8ddc38d9.454648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1187,"y":862,"wires":[]},{"id":"43ea987a.bd6f68","type":"debug","z":"8ddc38d9.454648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1129,"y":463,"wires":[]},{"id":"a870ae3d.8ff1c","type":"debug","z":"8ddc38d9.454648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1171,"y":572,"wires":[]},{"id":"218df884.996068","type":"debug","z":"8ddc38d9.454648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1136,"y":714,"wires":[]},{"id":"cec58f50.f3c8d","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Smileblink","payload":"smileblink","topic":"","group":"Emotions","order":"3","x":100,"y":60,"wires":[["df7c567f.e1f068"]]},{"id":"7089615c.69ddb","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Smile","payload":"smile","topic":"","group":"Emotions","order":"3","x":89.99997901916504,"y":104.57143878936768,"wires":[["df7c567f.e1f068"]]},{"id":"61c9343.81fa8cc","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Shy","payload":"shy","topic":"","group":"Emotions","order":1,"x":88.5713996887207,"y":150.28571701049805,"wires":[["df7c567f.e1f068"]]},{"id":"77d5fe34.468bc","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Tongue","payload":"tongue_out","topic":"","group":"Emotions","order":"2","x":88.57141876220703,"y":195.99999713897705,"wires":[["df7c567f.e1f068"]]},{"id":"c042ff94.c0ce4","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Money","payload":"img:money","topic":"","group":"Emotions","order":"100","x":90,"y":240,"wires":[["df7c567f.e1f068"]]},{"id":"d7597ce9.b81e7","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Roboy","payload":"url:https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_thumbnails/000/488/216/datas/original.png","topic":"","group":"Emotions","order":"100","x":90,"y":300,"wires":[["df7c567f.e1f068"]]},{"id":"f59d5338.8bb2","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Kiss","payload":"kiss","topic":"","group":"Emotions","order":"2","x":70,"y":340,"wires":[["df7c567f.e1f068"]]},{"id":"390e7216.bea3ee","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Autodesk","payload":"url:http://lofrev.net/wp-content/photos/2016/09/autodesk_logo_png.png","topic":"","group":"Emotions","order":"100","x":60,"y":380,"wires":[["df7c567f.e1f068"]]},{"id":"d9a5952a.0dd088","type":"exec","z":"dcd5f882.362f58","command":"rosservice call /roboy/cognition/face/emotion ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":759.2856750488281,"y":264.5714225769043,"wires":[["595d07e3.78fd28"],[],[]]},{"id":"df7c567f.e1f068","type":"function","z":"dcd5f882.362f58","name":"parse_emotion","func":"cmd = \"\\\"emotion: '\";\ncmd += msg.payload;\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":"1","noerr":0,"x":449.2856750488281,"y":264.5714225769043,"wires":[["d9a5952a.0dd088","595d07e3.78fd28"]]},{"id":"e734bac3.964268","type":"ui_text_input","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","mode":"text","delay":"1000","name":"English","topic":"","group":"Speech synthesis","order":1,"x":120,"y":740,"wires":[["180c6423.3c20fc"]]},{"id":"180c6423.3c20fc","type":"function","z":"dcd5f882.362f58","name":"parse_text","func":"if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload.replace(\"'\",\"\");\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return [msg, empty];\n}","outputs":2,"noerr":0,"x":370,"y":680,"wires":[["b9256e48.d992"],["cad21491.2ed368","e734bac3.964268"]]},{"id":"b9256e48.d992","type":"exec","z":"dcd5f882.362f58","command":"rosservice call /roboy/cognition/speech/synthesis/talk ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":820,"y":780,"wires":[["a25b086f.d64168"],["a25b086f.d64168"],["a25b086f.d64168"]]},{"id":"cad21491.2ed368","type":"delay","z":"dcd5f882.362f58","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":620,"wires":[[]]},{"id":"74725ef.e87e3a","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Talk about our vision","payload":"vision","topic":"","group":"Templates","order":1,"x":114,"y":863,"wires":[["4c6d2e24.98e32"]]},{"id":"4c6d2e24.98e32","type":"function","z":"dcd5f882.362f58","name":"parse_text","func":"cmd = \"\\\"text: '\";\nswitch(msg.payload) {\n    case \"oktobertech\":\n        var s = [\"Welcome to OctoberTech, I hope you have a great time, and dont forget to make a selfie with me\",\n        \"Hey there, welcome to OctoberTech! It will be an amazing day, so enjoy it! Oh and I love doing selfies.\",\n        \"Good morning and welcome to OctoberTech. Its quite early for me, but you have to start early to get all the amazing content into the day! So enjoy!\",\n        \"Good morning, welcome to October Tech! Enjoy your stay, it will be a great day! Oh, and take a selfie with me, theres prices to win!\",\n        \"Hey, do you like winning prices? Yes? Then lets take a selfie together. Oh and welcome to OctoberTech\",\n        \"Hi, good morning, wow, so great to see you. Im feeling marvellous and you look like you do to! So, enjoy the day and welcome to OctoberTech!\",\n        \"Welcome to OctoberTech, I hope you have a great time, by the way, Im here by bike, are you?\",\n        \"So Im a very green robot, not by hue, but by bike!\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"talktoname\":\n        var s = [\"Hey \"+name+\" great to see you!\",\n        name+\" how are you?\",\n        \"I know you, you're \"+name,\n        \"Hey \"+name+\" let's take a selfie together\",\n        \"Oh my god, hey \"+name+\" great to see you\",\n        \"it's so great to see you \"+name,\n        \"well, \"+name+\" how are you today? you look fabulous!\",\n        name+\", \"+name+\", \"+name+\" let's take a picture!\"]\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"infineonsensors\":\n        var s = [\"So you wonder why I am here? Well, Im full of Infineon sensors! \",\n        \"Its not coincidence I am here, its because Infineon sensors are making me feel the world! \",\n        \"In case you didnt know why I am here, its because I am full of Infineon sensors that make me feel the world! \"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        s = [\"Their MEMS microphones enable me to hear you, and what would I do without my ears.\",\n            \"The magnetic sensors enable me to understand how I should move my arm, no easy feat! Check out the Video! \",\n            \"The Infineons 60 gigahertz radar makes it possible that I can detect which material is in front of me.\",\n            ];\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"ai\":\n        cmd += \"It is only a threat if you do not anticipate the changes. I have not met many humans who said that they want to work more and have less time for their friends. But you will have to adapt your social system to account for the abundance we will produce. That will be challenging, but also very important. Make sure politics understands what is upcoming and how to react, then we will turn this planet into a paradise!\";\n    break;\n    case \"vision\":\n    \tcmd += \"The human body is a marvel from a robotics perspective: it is agile, strong, soft, dynamic, self-repairing, self-building and completely silent in operation. The goal of the Roboy project is to advance humanoid robotics to the state where its robots are just as good as a human body.\"\n    break;\n    case \"mission\":\n    \tcmd += \"We create a platform for robot development inspired by biology that unites students, researchers, companies and artists from a broad spectrum of disciplines. To ensure unrestricted development we keep all results open source. And we actively influence the public perception of robotics to level the cultural ground for our innovation through public displays, arts and public speeches.\"\n\n    break;\n    case \"humans\":\n    \tcmd += \"Obviously I love humans! They have built me and are so entertaining and nice. Whenever I break something, they repair me - amazing!\";\n    break;\n    case \"friends\":\n    \tcmd += \"Definitely humans. There is not many robots, especially humanoids. I have an older, smaller brother, Roboy Junior, but my team is more than 50 people - so there you have it, we still need many more robots.\";\n    break;\n    case \"wacker\":\n    \tcmd += \"Wacker is my favorite company in the world! Do you know anyone working there?\";\n    break;\n    case \"brain\":\n    \tcmd += \"My brain has three layers. The first is based on rules, I kind of have to react on key words and situations - very useful on stage, less useful to react and think on my own. The second layer is accessing databases - such as DB pedia or my own memory and is able to think about the content in them. So I can combine knowledge and deduce facts. Let me make an example: If you ask me who the husband of the Chancelor of Germany is, I can look first up that Angela Merkel is the chancelor, and then I can see she has a husband and then I arrive at Joachim Sauer and give you his name. Finally, the third layer is a deep neural network where I learn from movie subtitles how you humans typically talk to each other and kind of make my own answers up - very entertaining.\";\n    break;\n    case \"welcome\":\n    \tcmd += \"Welcome to Wacker Open Day! I am so happy to be here today.\";\n    break;\n    case \"story\":\n    \tcmd += \"Are you ready for a story. Ok, kids come here if you want to know something interesting. \";\n    \tbreak;\n\n    default:\n        msg = {}\n        return msg;\n    \n}\n\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":901,"wires":[["b9256e48.d992","6dc8c5cc.f892ec"]]},{"id":"b81424e0.fac998","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Talk about our mission","payload":"mission","topic":"","group":"Templates","order":1,"x":122,"y":912,"wires":[["4c6d2e24.98e32"]]},{"id":"934b1450.615ed8","type":"function","z":"dcd5f882.362f58","name":"parse_text","func":"cmd = \"\\\"text: '\";\nif(msg.topic == \"oclock\"){\n    \n    global.set(\"oclock\", msg.payload); \n    msg = {};\n    return msg;\n    \n}\nelse if(msg.topic == \"speak\") {\n    cmd += \"Hello everzone and welcome to Hanover Fair. Wanna see me in action? I will be showing off at \";\n    cmd += global.get(\"oclock\");\n    cmd += \" 30 oclock. Come by and witness my capabilities with your own eyes!\";\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    return msg;\n    \n}\n\n","outputs":1,"noerr":0,"x":350,"y":760,"wires":[["b9256e48.d992"]]},{"id":"a25b086f.d64168","type":"debug","z":"dcd5f882.362f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1187,"y":848,"wires":[]},{"id":"115c4bf2.023004","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"brain","payload":"brain","topic":"","group":"Templates","order":1,"x":130,"y":960,"wires":[["4c6d2e24.98e32"]]},{"id":"595d07e3.78fd28","type":"debug","z":"dcd5f882.362f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1026.5,"y":353,"wires":[]},{"id":"12e03e88.f02ac1","type":"function","z":"dcd5f882.362f58","name":"parser people_around","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":828.7499694824219,"y":1951.5361022949219,"wires":[["e5ec8d2.fcc8e7"]]},{"id":"e5ec8d2.fcc8e7","type":"debug","z":"dcd5f882.362f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1061.3214111328125,"y":1995.6785583496094,"wires":[]},{"id":"715c9ee2.9d05a","type":"function","z":"dcd5f882.362f58","name":"parser person_listening","func":"if(msg.payload.data === false){\n    msg.payload = \"No\";\n}\nelse\n{msg.payload = \"Yes\";}\nreturn msg;","outputs":1,"noerr":0,"x":864.1785888671875,"y":2076.25,"wires":[["f5f7f299.66b61"]]},{"id":"f5f7f299.66b61","type":"debug","z":"dcd5f882.362f58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1121.96435546875,"y":2117.71435546875,"wires":[]},{"id":"c4e7b37a.e7166","type":"debug","z":"dcd5f882.362f58","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload[0]","x":1156.0715942382812,"y":2257.071563720703,"wires":[]},{"id":"5cd9f4eb.98a8bc","type":"function","z":"dcd5f882.362f58","name":"parser detected_objects","func":"var arraylength = msg.payload.names.length;\nvar acstate=[];\n\nfor(var x=0;x<arraylength;x++){\n     acstate.push(msg.payload.names[x]);\n}\nmsg.payload = acstate;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":918.0000915527344,"y":2211.500030517578,"wires":[["c4e7b37a.e7166"]]},{"id":"24aea58a.3142aa","type":"delay","z":"dcd5f882.362f58","name":"rate limit 1 msg per 1 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":570,"y":1980,"wires":[["12e03e88.f02ac1"]]},{"id":"9feb074a.b58078","type":"delay","z":"dcd5f882.362f58","name":"rate limit 1 msg per 1 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":553.75,"y":2077.5,"wires":[["715c9ee2.9d05a"]]},{"id":"45639b6a.afb4f4","type":"delay","z":"dcd5f882.362f58","name":"rate limit 1 msg per 1 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":586.25,"y":2213.75,"wires":[["5cd9f4eb.98a8bc"]]},{"id":"f9550557.73f4c8","type":"inject","z":"dcd5f882.362f58","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":220,"y":3587,"wires":[["e198ddd6.8cceb"]]},{"id":"e198ddd6.8cceb","type":"function","z":"dcd5f882.362f58","name":"set communication/LEDPattern","func":"var LEDPattern = {\n    pattern : 0,\n    ledID : 0,\n    r : 255,\n    g : 0,\n    b : 0,\n    white : 0,\n    repetitions : 1,\n    rate : 1\n}\nmsg.payload = LEDPattern;\nreturn msg;","outputs":1,"noerr":0,"x":502.98828125,"y":3579.16796875,"wires":[["7b1a6161.0076d","727d7874.a799c8"]]},{"id":"7b1a6161.0076d","type":"ros-publish","z":"dcd5f882.362f58","server":"60234210.a2e3ec","topicname":"/roboyMatrix/LEDPattern","msgtype":"std_msgs/String","x":944.00390625,"y":3561.21875,"wires":[]},{"id":"727d7874.a799c8","type":"debug","z":"dcd5f882.362f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":777.98828125,"y":3382.80078125,"wires":[]},{"id":"d415163a.8a3d18","type":"debug","z":"dcd5f882.362f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1304.9999999999998,"y":1269.9999999999998,"wires":[]},{"id":"5fc6a9ee.d89cf8","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"angry","payload":"angry","topic":"","group":"Emotions","order":"4","x":94,"y":20,"wires":[[]]},{"id":"779cc82a.797088","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"pissed","payload":"pissed","topic":"","group":"Emotions","order":"4","x":50,"y":460,"wires":[["df7c567f.e1f068"]]},{"id":"baa012ce.df4c7","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"happy","payload":"happy","topic":"","group":"Emotions","order":"2","x":70,"y":520,"wires":[["df7c567f.e1f068"]]},{"id":"1ebc1a4c.e102c6","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"more happy","payload":"happy2","topic":"","group":"Emotions","order":"1","x":70,"y":560,"wires":[["df7c567f.e1f068"]]},{"id":"5d409200.d02dcc","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"hypno","payload":"hypno","topic":"","group":"Emotions","order":1,"x":236,"y":24,"wires":[["df7c567f.e1f068"]]},{"id":"a6bcf0a9.56d53","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"hypno color","payload":"hypno_color","topic":"","group":"Emotions","order":1,"x":286,"y":59,"wires":[["df7c567f.e1f068"]]},{"id":"e751df44.5be5d","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"rolling","payload":"rolling","topic":"","group":"Emotions","order":"4","x":290,"y":103,"wires":[["df7c567f.e1f068"]]},{"id":"8a2a876b.4fc158","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"surprised","payload":"angry","topic":"surprise_mit_augen","group":"Emotions","order":1,"x":336,"y":147,"wires":[["df7c567f.e1f068"]]},{"id":"2ed0fef8.1a1e52","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Infineon Sensors","payload":"infineonsensors","topic":"","group":"Infineon Sugar","order":1,"x":120,"y":1020,"wires":[["4c6d2e24.98e32"]]},{"id":"420b5643.8dfd28","type":"ui_text_input","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","mode":"text","delay":"300","name":"German","topic":"","group":"Speech synthesis","order":"2","x":360,"y":1860,"wires":[["2c208bce.6c8924"]]},{"id":"2c208bce.6c8924","type":"function","z":"dcd5f882.362f58","name":"parse_text","func":"if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload.replace(\"'\",\"\");\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return [msg, empty];\n}","outputs":2,"noerr":0,"x":574.0000152587891,"y":1870.0000219345093,"wires":[["ec4ab411.3c55e8"],["fb39481a.7df4b8"]]},{"id":"fb39481a.7df4b8","type":"delay","z":"dcd5f882.362f58","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":514.0000152587891,"y":1790.0000219345093,"wires":[["420b5643.8dfd28"]]},{"id":"9b9a4847.dad7a8","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Talk to Name","payload":"talktoname","topic":"","group":"Speech synthesis","order":"3","x":110,"y":1080,"wires":[["4c6d2e24.98e32"]]},{"id":"6dc8c5cc.f892ec","type":"debug","z":"dcd5f882.362f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":687,"y":904.5,"wires":[]},{"id":"8420bedb.dbf5e","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Snake pattern","payload":"2","topic":"","group":"Matrix","order":1,"x":220,"y":3786,"wires":[["20b9295a.a5edf6"]]},{"id":"88e2217c.dc747","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Dimming pattern","payload":"\"'mode': 1, 'duration': 0\"","topic":"","group":"Matrix","order":1,"x":230,"y":3826,"wires":[["f1220bf8.1c6d08"]]},{"id":"e013d68.e393728","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Turn off","payload":"0","topic":"","group":"Matrix","order":1,"x":200,"y":3866,"wires":[["96f62462.904b58"]]},{"id":"2782b0a.486475","type":"function","z":"dcd5f882.362f58","name":"change_mode","func":"// cmd = \"mode: \" + msg.payload + \"\\n\" + \"duration: 0\" ;\n// //cmd += \"'\\\"\";\ncmd = \"\\\"mode: 0\\n duration: 0\\\"\";\nmsg.payload = cmd;\nreturn msg;\n","outputs":1,"noerr":0,"x":416,"y":4052,"wires":[["30bbef41.b19a5"]]},{"id":"f1220bf8.1c6d08","type":"exec","z":"dcd5f882.362f58","command":"rostopic pub /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 1\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":866,"y":3804,"wires":[["30bbef41.b19a5"],["30bbef41.b19a5"],["30bbef41.b19a5"]]},{"id":"96f62462.904b58","type":"exec","z":"dcd5f882.362f58","command":"rostopic pub /roboy/control/matrix/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":920,"y":3866,"wires":[[],[],[]]},{"id":"65388979.297888","type":"exec","z":"dcd5f882.362f58","command":"rosservice call /roboy/matrix/sound/play \"text: '/home/roboy/Downloads/story.wav'\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":980,"y":3926,"wires":[[],[],[]]},{"id":"30bbef41.b19a5","type":"debug","z":"dcd5f882.362f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1170,"y":4106,"wires":[]},{"id":"20b9295a.a5edf6","type":"exec","z":"dcd5f882.362f58","command":"rostopic pub /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 2\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":827,"y":3743,"wires":[[],[],[]]},{"id":"ec4ab411.3c55e8","type":"exec","z":"dcd5f882.362f58","command":"rosservice call /roboy/cognition/speech/synthesis/talk/german ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1040,"y":1720,"wires":[[],[],[]]},{"id":"f3f1d547.2b03b8","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"3D gedruckt","payload":"Mein Körper is beinahe komplett 3D gedruckt. Mit Hilfe von über 50 Motoren kann ich ihn bewegen. Ich kann sehen, hören und bald auch Ihre Berührungen spüren.","topic":" ","group":"Roboy info","order":1,"x":146.66666412353516,"y":2486.6664237976074,"wires":[["820c0003.1f29d"]]},{"id":"8b49a2f3.97edb","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Silikon haut","payload":"Im März bekomme ich nämlich eine Haut aus Silikon. Die werde ich auch brauchen wenn ich mit meinem Fahrrad draußen herum fahre.","topic":" ","group":"Roboy info","order":1,"x":145.00000762939453,"y":2529.9999198913574,"wires":[["820c0003.1f29d"]]},{"id":"820c0003.1f29d","type":"function","z":"dcd5f882.362f58","name":"parse_text","func":"cmd = \"\\\"text: '\";\ncmd += msg.payload\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":2569.999942779541,"wires":[["ec4ab411.3c55e8"]]},{"id":"735b250c.49fa0c","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"in 4 monate gebaut","payload":"Wussten Sie schon, dass ich von einem Team der Technischen Universität München entwickelt wurde? Das hat gerade mal 4 Monate gedauert. Dann noch einen Monat Zusammenbauen und schon war ich fertig. Seit dem lerne ich jeden Tag etwas Neues.","topic":" ","group":"Roboy info","order":1,"x":163.33333587646484,"y":2581.6664237976074,"wires":[["820c0003.1f29d"]]},{"id":"1275d23f.2febbe","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"im april gabaut","payload":"ich wurde im april 2018 geboren. jetzt bin ich sechs monate alt. ich wurde an der Technischen Universität München von einem team von interdisziplinären studenten gebaut","topic":" ","group":"Roboy info","order":1,"x":153.3333282470703,"y":2628.3332805633545,"wires":[["820c0003.1f29d"]]},{"id":"2dd37b1d.143bd4","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"fragen sie mein team","payload":"oh, leider kann ich diese Frage nicht beantworten. Bitte fragen Sie mein Team, sie sind fantastisch und werden Ihnen alles erklären.","topic":" ","group":"Roboy info","order":1,"x":163.33333587646484,"y":2673.3331718444824,"wires":[["820c0003.1f29d"]]},{"id":"57f3eb50.202114","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"great you are here","payload":"here","topic":" ","group":"Chat","order":1,"x":153.3333282470703,"y":3045,"wires":[[]]},{"id":"bccff4a6.ee6a38","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"take a selfie","payload":"selfie","topic":" ","group":"Chat","order":1,"x":133.3333282470703,"y":3097.4999992847443,"wires":[["8cbfca2d.76c638"]]},{"id":"619905ff.39ec7c","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"looking gorgeous","payload":"gorgeos","topic":" ","group":"Chat","order":1,"x":139.5833282470703,"y":3142.499963760376,"wires":[["ddd2f383.58c63"]]},{"id":"94bc586c.bef818","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Fischers Fritz","payload":"fritz","topic":" ","group":"Chat","order":1,"x":125,"y":3186.66650390625,"wires":[["abf72ab9.f3bb88"]]},{"id":"3cecc26a.0f2a5e","type":"exec","z":"dcd5f882.362f58","command":"/home/missxa/workspace/Roboy/src/roboy_controller/scripts/move.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1435.0000457763672,"y":2463.3332710266113,"wires":[[],[],[]]},{"id":"8cbfca2d.76c638","type":"function","z":"dcd5f882.362f58","name":"","func":"answers = []\nanswers = [\n    \"Du musst unbedingt einen Selfie mit mir machen, du passt ja wunderbar zu mir\",\n    \"Kompatibles subjekt detektiert, selfie initieren. Stell dich bitte neben mich.\",\n    \"Bist du von der Cloud gefallen? Da müssen wir jetzt ein Selfie machen.\",\n    \"Selfie bitte!\",\n    \"Dürfte ich dich zu einem gemeinschaftlichen selbstportrait mit meiner Person einladen?\",\n    \"Ich habe deinen photogenitätskoeffizienten auf 100 punkte detektiert, selfie gefällig?\",\n    \"Hast du eines dieser Geräte dabei, die schnellbilder machen?\",\n    \"Picasso gefällig? Wobei du siehst eher wie eine Mona Lisa aus.\",\n    \"Ich wollte schon immer mit Mona Lisa ein Selfie machen, darf ich bitten?\",\n    \"Willst du mit mir in die Photo booth?\",\n    \"Du solltest dich mal in Virtual reality sehen!\",\n    \"Das hier ist echt besser als virtual reality, foto, bitte!\"\n    ]\n\nmsg.payload = answers[Math.floor(Math.random()*answers.length)]\nreturn msg;","outputs":1,"noerr":0,"x":370.8333168029785,"y":3093.333297729492,"wires":[["820c0003.1f29d"]]},{"id":"abf72ab9.f3bb88","type":"function","z":"dcd5f882.362f58","name":"","func":"answers = []\nanswers = [\n    \"Der Kaplan klebt Pappplakate an.\",\n    \"Fischers Fritz fischt frische Fische.\",\n    \"Zehn Ziegen zogen zehn Zentner Zucker zum Zoo.\",\n    \"Brautkleid bleibt brautkleid und blaukraut bleibt blaukraut.\",\n    \"Der Whiskeymixer mixt den Whiskey in der Whiskeymixerbar.\",\n    \"Im dichten Fichtendickicht sind dicke Fichten wichtig.\"\n    ]\n\nmsg.payload = answers[Math.floor(Math.random()*answers.length)]\nreturn msg;","outputs":1,"noerr":0,"x":322.5,"y":3185,"wires":[["820c0003.1f29d"]]},{"id":"ddd2f383.58c63","type":"function","z":"dcd5f882.362f58","name":"","func":"answers = [\n    \"Es ist echt stark dass du hier bist.\",\n    \"Supercool. genau wie du!\",\n    \"Du siehst heute einfach bezaubernd aus.\",\n    \"Hey, kannst du ein Selfie mit mir machen? Ich hätte zu gerne ein Foto von dir.\"\n    ]\n    \nmsg.payload = answers[Math.floor(Math.random()*answers.length)]\nreturn msg;","outputs":1,"noerr":0,"x":318.75,"y":3143.75,"wires":[["820c0003.1f29d"]]},{"id":"f6a15ef7.147fe","type":"function","z":"dcd5f882.362f58","name":"","func":"    answers = [\n        \"Also wenn ich dir das jetzt sagen würde, müsste ich gegen die 3 Gesetze der Robotik verstossen.\",\n        \"Die Antwort auf deine Frage, uh, oh, Absturz.\",\n        \"Weisst du, da habe ich so noch nicht drüber nachgedacht.\",\n        \"Zugriff verweigert.\",\n        \"Wenn ich das sagen würde, dann würde dein Kopf explodieren.\",\n        \"Ihre Anfrage wird verarbeitet, bitte warten, bitte warten, bitte warten.\",\n        \"Das kann ich nur in robotisch erklären.\",\n        \"Das versteht ihr Menschen nicht.\",\n        \"Gut zuhören! Eins, Null, Null, Eins, Eins, Null, Eins, Null. Alles klar?\"\n    ]\n\nmsg.payload = answers[Math.floor(Math.random()*answers.length)]\nreturn msg;","outputs":1,"noerr":0,"x":317.50000381469727,"y":3228.7500474452972,"wires":[["820c0003.1f29d"]]},{"id":"52dba37c.df35cc","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"avoid answer","payload":"","topic":" ","group":"Chat","order":1,"x":128.75,"y":3232.5,"wires":[["f6a15ef7.147fe"]]},{"id":"d17c319.441a7d","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"rikscha","payload":"mein Ziel für das nächste Semester, Rikscha-Fahrer zu werden. Mein Team wird mir beibringen, wie man dieses Dreirad fährt und Leute durch das Garching Forschungszentrum fährt.","topic":" ","group":"Roboy info","order":1,"x":115,"y":2726.25,"wires":[["820c0003.1f29d"]]},{"id":"97be563a.e02968","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"wie gehts","payload":"wie geht es Ihnen?","topic":" ","group":"Chat","order":1,"x":127.5,"y":2768.75,"wires":[["820c0003.1f29d"]]},{"id":"bc381372.b5fda","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"sehr gut","payload":"sehr gut!","topic":" ","group":"Chat","order":1,"x":133.75000381469727,"y":2811.25004196167,"wires":[["820c0003.1f29d"]]},{"id":"12ad122e.59463e","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"ich bin roboy","payload":"ich bin ro boy","topic":" ","group":"Chat","order":1,"x":141.25,"y":2861.25,"wires":[["820c0003.1f29d"]]},{"id":"bb211af6.387048","type":"function","z":"dcd5f882.362f58","name":"parse_mwc_text","func":"cmd = \"\\\"text: '\";\nswitch(msg.payload) {\n    case \"thanks\":\n        cmd += \"Thanks, very well, how are you?\";\n    break;\n    case \"mems\":\n        cmd += \"With Infineon’ mems microphones, I finally have ears that are probably even better than yours\";\n    break;\n    case \"breast\":\n        cmd += \"Look here on my breast!\";\n    break;\n    case \"beamforming\":\n        cmd += \"With this array of Infineon XENSIV mems microphones, I can even perform beamforming and concentrate on the person talking to me.\";\n    break;\n    case \"yes_look\":\n    \tcmd += \"Yes certainly, I can. Have a look!\"\n    break;\n    case \"microcontroller\":\n    \tcmd += \" I am using embedded power technology from Infineon, the market leader in power semiconductors. These devices are highly integrated; my creators love them, as they require only minimum space due to the integration of microcontroller and power technology on one chip.\"\n    break;\n    case \"magnetic\":\n    \tcmd += \"With Infineon XENSIV 3D magnetic sensors - implemented in my shoulder joints. They are trained with AI technology for superior accuracy\";\n    break;\n    case \"material\":\n    \tcmd += \"Oh well, Very soon I will be able to detect the material I am walking on.\";\n    break;\n    case \"feet\":\n    \tcmd += \"Oh well, I will have Infineon XENSIV 60 GHz radar sensors in my feet.\";\n    break;\n    case \"junior\":\n    \tcmd += \"Well this is just for prototyping; it is actually the foot of my brother Roboy Junior \";\n    break;\n    case \"esim\":\n    \tcmd += \"For now, I have to communicate with the cloud in order to understand human speech. Therefore my creators have implemented an embedded SIM from Infineon, so I can stay online  wherever I am. I even can instantaneously switch the mobile carrier wherever I find best network quality and best data plans.\";\n    break;\n    case \"optiga\":\n    \tcmd += \"I am using an Infineon security product called OPTIGA Trust X that helps me to enable secured transfer of sensitive data between me and the cloud.\";\n    \tbreak;\n    case \"bye\":\n    \tcmd += \"Good bye, it was my pleasure\";\n    break;\n\n    default:\n        msg = {}\n        return msg;\n    \n}\n\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":2025,"y":4470,"wires":[["c0f81401.873798"]]},{"id":"40ab974d.ca5628","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Thanks","payload":"thanks","topic":"","group":"MWC","order":1,"x":1613.9999923706055,"y":4348.999997138977,"wires":[["bb211af6.387048"]]},{"id":"f5f08323.2d59d","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"MEMS","payload":"mems","topic":"","group":"MWC","order":"2","x":1613.9999923706055,"y":4389.999997138977,"wires":[["bb211af6.387048"]]},{"id":"1fb07f65.dccc11","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Breast","payload":"breast","topic":"","group":"MWC","order":"3","x":1614.9999923706055,"y":4431.999997138977,"wires":[["bb211af6.387048","7b15b539.dc2c4c"]]},{"id":"3847316f.a2470e","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Beamforming","payload":"beamforming","topic":"","group":"MWC","order":"4","x":1631.9999923706055,"y":4471.999997138977,"wires":[["bb211af6.387048","e65b6245.eaf02"]]},{"id":"dbd4d97d.5c7fa8","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Yes Look","payload":"yes_look","topic":"","group":"MWC","order":"5","x":1621.2499923706055,"y":4519.5,"wires":[["bb211af6.387048"]]},{"id":"5664f27a.12ff7c","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Microcontroller","payload":"microcontroller","topic":"","group":"MWC","order":"6","x":1642.7500228881836,"y":4568.750068664551,"wires":[["bb211af6.387048"]]},{"id":"d6d0b8b1.f1f3b8","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Magnetic","payload":"magnetic","topic":"","group":"MWC","order":"7","x":1618.9999923706055,"y":4613.749997138977,"wires":[["bb211af6.387048"]]},{"id":"77219de9.874f74","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Material","payload":"material","topic":"","group":"MWC","order":"8","x":1608.9999923706055,"y":4658.749997138977,"wires":[["bb211af6.387048"]]},{"id":"3ca706bd.06341a","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Feet","payload":"feet","topic":"","group":"MWC","order":"9","x":1611.4999961853027,"y":4706.250003814697,"wires":[["bb211af6.387048"]]},{"id":"6d07a7b3.4a8bc8","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Junior","payload":"junior","topic":"","group":"MWC","order":"10","x":1608.9999923706055,"y":4753.749997138977,"wires":[["bb211af6.387048"]]},{"id":"87bcd9cf.ca0208","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"eSim","payload":"esim","topic":"","group":"MWC","order":"11","x":1614.0000228881836,"y":4803.750071525574,"wires":[["bb211af6.387048"]]},{"id":"48d989dc.80a438","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Optiga","payload":"optiga","topic":"","group":"MWC","order":"12","x":1610.2499923706055,"y":4857.499997138977,"wires":[["bb211af6.387048"]]},{"id":"c0f81401.873798","type":"exec","z":"dcd5f882.362f58","command":"rosservice call /roboy/cognition/speech/synthesis/talk ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2381.9999923706055,"y":4474.999997138977,"wires":[["8118fff3.226be"],["8118fff3.226be"],["8118fff3.226be"]]},{"id":"8118fff3.226be","type":"debug","z":"dcd5f882.362f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2722.9999923706055,"y":4471.999997138977,"wires":[]},{"id":"595236d3.c14928","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Bye","payload":"bye","topic":"","group":"MWC","order":"13","x":1610.2499923706055,"y":4906.249997138977,"wires":[["bb211af6.387048"]]},{"id":"7b15b539.dc2c4c","type":"exec","z":"dcd5f882.362f58","command":"rostopic pub /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 2\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2380.000030517578,"y":4270.0000648498535,"wires":[[],[],[]]},{"id":"e65b6245.eaf02","type":"exec","z":"dcd5f882.362f58","command":"rostopic pub /roboy/control/matrix/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2336.25,"y":4333.75,"wires":[[],[],[]]},{"id":"29622b78.1fe404","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Infineon","payload":"url:http://bot.roboy.org:8081/~roboy/Infineon-Logo.png","topic":"","group":"Emotions","order":"100","x":70,"y":600,"wires":[["df7c567f.e1f068"]]},{"id":"cd611d2d.8b48","type":"http response","z":"dcd5f882.362f58","name":"","statusCode":"","headers":{},"x":790,"y":440,"wires":[]},{"id":"f71ac459.4f1328","type":"http in","z":"dcd5f882.362f58","name":"","url":"/roboysay","method":"get","upload":false,"swaggerDoc":"","x":430,"y":440,"wires":[["c6ab86ca.711118","af3d75c5.5dd2b8"]]},{"id":"c6ab86ca.711118","type":"template","z":"dcd5f882.362f58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style>\n            div{\n                float:left;\n                width:19%;\n                height:5%;\n                margin:0.5%;\n                background:#343e4e;\n                color:#fff;\n                font-family:Lato,sans-serif;\n                padding:1%;\n                text-align:center;\n                border:3px solid black;\n            }\n            input,body{\n                font-size:2em;\n            }\n            .good{\n                background-color:hsl(120,100%,25%);\n            }\n            .bad{\n                background-color:hsl(0,100%,25%);\n            }\n            .love{\n                background-color:hsl(0,100%,75%);\n            }\n            .neutral{\n                background-color:hsl(30,100%,25%);\n            }\n            .action{\n                background-color:hsl(180,100%,25%);\n            }\n            .question{\n                background-color:hsl(240,100%,25%);\n            }\n            #hug{\n                width:100%;\n                height:5%;\n                margin:0.5%;\n                background:#343e4e;\n                color:#fff;\n                font-family:Lato,sans-serif;\n                padding:1%;\n                text-align:center;\n            }\n        </style>\n        <script\n\t\t\t  src=\"https://code.jquery.com/jquery-3.3.1.min.js\"\n\t\t\t  integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n\t\t\t  crossorigin=\"anonymous\">\n        </script>\n    </head>\n    <body>\n        say: <form id=\"sayform\" action=\"/roboysay\">\n            <input name=\"say\" type=\"text\" id=\"selectme\"/>\n            <submit></submit>\n        </form>\n        name: <form id=\"nameform\">\n            <input name=\"name\" type=\"text\" id=\"name\"/>\n        </form> \n        <div id=\"hug\">HUG!</div>\n        <buttons> \n            <div class=\"love\">let's hug!</div>\n            <div class=\"love\">just a little bit closer!</div>\n            <div class=\"love\">don't regret - hug a robot today!</div>\n             <div class=\"love\">hug and follow me on instagram!</div>\n            <div class=\"love\">it was my pleasure, sir</div>\n            <div class=\"love\">it was my pleasure, madam</div>\n            <div class=\"love\">what a great hug</div>\n             <div class=\"love\">you are very professional doing hugging</div>\n            <div class=\"love\">I could hug forever like this</div>\n            <div class=\"love\">oh, that was something!</div>\n            <div class=\"love\">wow, what a hug!</div>\n            <div class=\"love\">loved it! </div>\n            <div class=\"love\">loved the hug! can I follow you on instagram?</div>\n            <div class=\"love\">oh, this was amazing!</div>\n            <div class=\"love\">wow, what a hug! good we have filmed it</div>\n            <div class=\"love\">dont be shy, hug a robot today!</div>\n            <div class=\"good\">yes!</div>\n            <div class=\"good\">oh yes!</div>\n            <div class=\"good\">yes, yes, yes!</div>\n            <div class=\"good\">oh, my, god, so yes!</div>\n            <div class=\"neutral\">maybe!</div>\n            <div class=\"neutral\">uhm, ok, sure!</div>\n            <div class=\"neutral\">yeah, sounds ok!</div>\n            <div class=\"neutral\">well, I guess!</div>\n            <div class=\"bad\">nope</div>\n            <div class=\"bad\">no, so no!</div>\n            <div class=\"bad\">not really, no</div>\n            <div class=\"bad\">definitely not!</div>\n            <div class=\"neutral\">give me a second, have to think</div>\n            <div class=\"neutral\">processing, please wait</div>\n            <div class=\"neutral\">so, I don't really know how to answer, please wait.</div>\n            <div class=\"neutral\">did I tell you this story, how one time, I uhm? no I didn't.</div>\n            <div class=\"question\">what is your name?</div>\n            <div class=\"question\">what did you like best at the fair so far?</div>\n            <div class=\"question\">first day at the fair?</div>\n            <div class=\"question\">did you see all the amazing sensors I have?</div>\n            <div class=\"good\">let's take a selfie!</div>\n            <div class=\"good\">come on! let's take a picture!</div>\n            <div class=\"good\">don't be shy, you are the better looking one of us!</div>\n            <div class=\"good\">let's do this!</div>\n            <div class=\"good\">oh this was great!</div>\n            <div class=\"question\">perfect, can I take a look?</div>\n            <div class=\"good\">oh you do look great in the picture!</div>\n            <div class=\"good\">perfect, at least one of us looks great, and it's not me!</div>\n            <div class=\"action\">time to go already? ok bye!</div>\n            <div class=\"action\">good bye!</div>\n            <div class=\"action\">bye bye!</div>\n            <div class=\"action\">ciao, enjoy the fair!</div>\n            <div class=\"blabla\">so I am quite fresh, a research project really!</div>\n            <div class=\"blabla\">I am the most human robot here!</div>\n            <div class=\"blabla\">You want a hug? Let's hug!</div>\n            <div class=\"blabla\">I am not just looking good, you can also touch me, don't be afraid!</div>\n            <div class=\"action\">hi, {name}, how are you doing?</div>\n            <div class=\"action\">{name}, {name}, let's take a selfie together?</div>\n            <div class=\"action\">hello {name}, I am Roboy, it's great to meet you!</div>\n            <div class=\"action\">{name}, that's a beautiful name!</div>\n        </buttons>\n        <script type=\"text/javascript\">\n            var input = document.getElementById('selectme');\n            input.focus();\n            input.select();\n\t\t\t  $(\"form\").submit(function(e){\n\t\t\t        jQuery.get(\"/roboysays\",$('form').serialize())\n                    e.preventDefault();\n                    $(\"form\").trigger(\"reset\");\n            })\n\t\t\t  $(\"buttons div\").click(function(e){\n\t\t\t      var t = $(e.target).text()\n\t\t\t      var name = $(\"#name\").val()\n\t\t\t      if(name){\n\t\t\t          t = t.split(\"{name}\").join(name);\n\t\t\t      }\n\t\t\t      jQuery.ajax({\n\t\t\t          type:\"GET\",\n\t\t\t          url:\"/roboysays\",\n\t\t\t          data:{\"say\":t},\n\t\t\t          success:\n\t\t\t            function(o){\n\t\t\t                $(e.target).css(\"border-color\", \"#00ff00\")\n\t\t\t                $(e.target).delay(300).css('border-color', '#000000');\n\t\t\t            }\n\t\t\t           });\n\t\t\t  });\n\t\t\t  $(\"#hug\").click(function(e){\n\t\t\t     jQuery.get(\"/hugroboy\"); \n\t\t\t  });\n        </script>\n    </body>\n</html>","output":"str","x":580,"y":360,"wires":[["cd611d2d.8b48"]]},{"id":"2078329f.731c9e","type":"function","z":"dcd5f882.362f58","name":"","func":"if(msg.payload.say){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload.say.replace(\"'\",\"\");\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["b9256e48.d992","cd611d2d.8b48"]]},{"id":"af3d75c5.5dd2b8","type":"debug","z":"dcd5f882.362f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":540,"wires":[]},{"id":"9d963e16.710e5","type":"http in","z":"dcd5f882.362f58","name":"","url":"/roboysays","method":"get","upload":false,"swaggerDoc":"","x":420,"y":480,"wires":[["2078329f.731c9e","af3d75c5.5dd2b8"]]},{"id":"1661862f.0033fa","type":"debug","z":"8d757931.ca52c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":340,"wires":[]},{"id":"db542d4e.8043d","type":"ui_template","z":"8d757931.ca52c8","tab":"1ce3cb6f.b2c125","name":"Display image","group":"","order":1,"format":"<img width=\"640\" height=\"320\" alt=\"stream \" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"x":817.2569236755371,"y":440.4166660308838,"wires":[[]]},{"id":"cae14548.a0f228","type":"inject","z":"8d757931.ca52c8","name":"Start stream","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":249.83334350585938,"y":440.00003814697266,"wires":[[]]},{"id":"c8b6b157.d3632","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"do Hug","payload":"","topic":"","group":"Movements","order":"0","x":170,"y":4240,"wires":[["b4ca21aa.ddb8b","5feaa49c.1c6e0c"]]},{"id":"b4ca21aa.ddb8b","type":"exec","z":"dcd5f882.362f58","command":". ~/hug.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":4240,"wires":[[],[],[]]},{"id":"ab1f0de5.16817","type":"http in","z":"dcd5f882.362f58","name":"","url":"/hugroboy","method":"get","upload":false,"swaggerDoc":"","x":180,"y":4180,"wires":[["b4ca21aa.ddb8b","7ea385be.2e2b4c","5feaa49c.1c6e0c"]]},{"id":"29b3faad.5c0ca6","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Ball joint sensing","payload":"With the 3D magnetic sensor from Infineon I can estimate the absolute pose of my arm. I feed the magnetic sensor data into a shallow neural network which then estimates the pose of the joint.","topic":" ","group":"Infineon Sugar","order":1,"x":120,"y":1200,"wires":[["388db14e.c6e16e"]]},{"id":"f3d26131.215ba","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"MEMS mics","payload":"In my chest there is an array of Infineon MEMS microphones. It helps me to understand people. My team implemented directional listening for me, so I can look at you during the conversation.","topic":" ","group":"Infineon Sugar","order":1,"x":130,"y":1260,"wires":[["388db14e.c6e16e"]]},{"id":"388db14e.c6e16e","type":"function","z":"dcd5f882.362f58","name":"simple_parse_text","func":"cmd = \"\\\"text: '\";\ncmd += msg.payload\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":1218,"wires":[["b9256e48.d992"]]},{"id":"3a97f3e7.7d435c","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"rickshaw","payload":"rickshaw","topic":"","group":"Templates","order":1,"x":700,"y":1020,"wires":[["3ed5764c.1ac26a"]]},{"id":"e81d9351.9836a","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"3d printed","payload":"3dprinted","topic":"","group":"Templates","order":1,"x":706,"y":1072,"wires":[["3ed5764c.1ac26a"]]},{"id":"45d37d71.24c8e4","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"bio-inspired body","payload":"bioinspired","topic":"","group":"Templates","order":1,"x":730,"y":1111,"wires":[["3ed5764c.1ac26a"]]},{"id":"6322b80e.06a898","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"how built","payload":"built","topic":"","group":"Templates","order":1,"x":700,"y":1200,"wires":[["3ed5764c.1ac26a"]]},{"id":"3ed5764c.1ac26a","type":"function","z":"dcd5f882.362f58","name":"parse_text","func":"cmd = \"\\\"text: '\";\nswitch(msg.payload) {\n    case \"selfie\":\n        var s = [\"Come on, take a selfie with me, I think we will look great together.\", \"I love taking pictures, take your phone and lets take a selfie together.\", \n        \"do you like taking pictures as much as i do? i wouldnt say no to a photo with you.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"oktobertech\":\n        var s = [\"Welcome to OctoberTech, I hope you have a great time, and dont forget to make a selfie with me\",\n        \"Hey there, welcome to OctoberTech! It will be an amazing day, so enjoy it! Oh and I love doing selfies.\",\n        \"Good morning and welcome to OctoberTech. Its quite early for me, but you have to start early to get all the amazing content into the day! So enjoy!\",\n        \"Good morning, welcome to October Tech! Enjoy your stay, it will be a great day! Oh, and take a selfie with me, theres prices to win!\",\n        \"Hey, do you like winning prices? Yes? Then lets take a selfie together. Oh and welcome to OctoberTech\",\n        \"Hi, good morning, wow, so great to see you. Im feeling marvellous and you look like you do to! So, enjoy the day and welcome to OctoberTech!\",\n        \"Welcome to OctoberTech, I hope you have a great time, by the way, Im here by bike, are you?\",\n        \"So Im a very green robot, not by hue, but by bike!\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"talktoname\":\n        var s = [\"Hey \"+name+\" great to see you!\",\n        name+\" how are you?\",\n        \"I know you, you're \"+name,\n        \"Hey \"+name+\" let's take a selfie together\",\n        \"Oh my god, hey \"+name+\" great to see you\",\n        \"it's so great to see you \"+name,\n        \"well, \"+name+\" how are you today? you look fabulous!\",\n        name+\", \"+name+\", \"+name+\" let's take a picture!\"]\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"built\":\n        var s = [\"Did you know that I was designed in 4 months by a team of students from the Technical university of Munich. It took another month to assemble all the parts. And then I was born in April 2018.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"bioinspired\":\n        var s = [\"My body has a human-like structure. I have muscles and tendons just like people do. You can see these blue strings on my shoulder that are connected to the artificial muscle. My team has designed and produced these muscles for me.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"3dprinted\":\n        var s = [\"My body is completely 3D printed. I use almost 50 motors in order to move. I can see, hear, and soon I will be able to feel your touch.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"rickshaw\":\n        var s = [\"Soon I will be a rickshaw driver. Currently my team is teaching me how to ride the tricycle and drive autonomously on the streets. So that in March I can drive people around the Garching Campus.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"infineonsensors\":\n        var s = [\"\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        s = [\"Their MEMS microphones enable me to hear you, and what would I do without my ears.\",\n            \"The magnetic sensors enable me to understand how I should move my arm, no easy feat! Check out the Video!.\",\n            \"The Infineons 60 gigahertz radar makes it possible that I can detect which material is in front of me.\",\n            \"So you wonder why I am here? Well, Im full of Infineon sensors!.\",\n            \"Its not coincidence I am here, its because Infineon sensors are making me feel the world!.\",\n            \"In case you didnt know why I am here, its because I am full of Infineon sensors that make me feel the world!.\",\n            \"I am here with Infineon, because I use their sensors to make me more human like.\"\n            ];\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"ai\":\n        cmd += \"It is only a threat if you do not anticipate the changes. I have not met many humans who said that they want to work more and have less time for their friends. But you will have to adapt your social system to account for the abundance we will produce. That will be challenging, but also very important. Make sure politics understands what is upcoming and how to react, then we will turn this planet into a paradise!\";\n    break;\n    case \"vision\":\n    \tcmd += \"The human body is a marvel from a robotics perspective: it is agile, strong, soft, dynamic, self-repairing, self-building and completely silent in operation.\"\n    break;\n    case \"goal\":\n    \tcmd += \"The goal of the Roboy project is to advance humanoid robotics to the state where its robots are just as good as a human body.\"\n    break;\n    case \"mission\":\n    \tcmd += \"We create a platform for robot development inspired by biology that unites students, researchers, companies and artists from a broad spectrum of disciplines.\"\n    break;\n    case \"open-source\":\n    \tcmd += \"To ensure unrestricted development we keep all results open source. And we actively influence the public perception of robotics to level the cultural ground for our innovation through public displays, arts and public speeches.\"\n    break;\n    case \"humans\":\n    \tcmd += \"Obviously I love humans! They have built me and are so entertaining and nice. Whenever I break something, they repair me - amazing!\";\n    break;\n    case \"friends\":\n    \tcmd += \"Definitely humans. There is not many robots, especially humanoids. I have an older, smaller brother, Roboy Junior, but my team is more than 50 people - so there you have it, we still need many more robots.\";\n    break;\n    case \"wacker\":\n    \tcmd += \"Wacker is my favorite company in the world! Do you know anyone working there?\";\n    break;\n    case \"brain\":\n    \tcmd += \"My brain has three layers. The first is based on rules, I kind of have to react on key words and situations - very useful on stage, less useful to react and think on my own. The second layer is accessing databases - such as DB pedia or my own memory and is able to think about the content in them. So I can combine knowledge and deduce facts. Let me make an example: If you ask me who the husband of the Chancelor of Germany is, I can look first up that Angela Merkel is the chancelor, and then I can see she has a husband and then I arrive at Joachim Sauer and give you his name. Finally, the third layer is a deep neural network where I learn from movie subtitles how you humans typically talk to each other and kind of make my own answers up - very entertaining.\";\n    break;\n    case \"welcome\":\n    \tcmd += \"Welcome to Wacker Open Day! I am so happy to be here today.\";\n    break;\n    case \"story\":\n    \tcmd += \"Are you ready for a story. Ok, kids come here if you want to know something interesting. \";\n    \tbreak;\n\n    default:\n        msg = {}\n        return msg;\n    \n}\n\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1100,"wires":[["b9256e48.d992"]]},{"id":"7ea385be.2e2b4c","type":"http response","z":"dcd5f882.362f58","name":"","statusCode":"","headers":{},"x":350,"y":4180,"wires":[]},{"id":"2a3c3423.ed28ac","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Xensiv mics","payload":"did you already checkout the board in my chest? there i have xensiv infineon microphones that help me recognize human speech. they are very sensitive and help me unerstand what people say even at the crowded fair.","topic":" ","group":"Infineon Sugar","order":1,"x":110,"y":1320,"wires":[["388db14e.c6e16e"]]},{"id":"5e181f63.5c2ba","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"Esim","payload":"infineons embedded sim helps me to stay online all the time. quite some processing i perform in the cloud and therefore i need a stable internet connection wherever i go. infineons embedded sim is just what i need.","topic":" ","group":"Infineon Sugar","order":1,"x":110,"y":1380,"wires":[["388db14e.c6e16e"]]},{"id":"cef3564d.cda778","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"it was my pleasure sir","payload":"it was my pleasure sir","topic":" ","group":"Movements","order":1,"x":160,"y":1500,"wires":[["388db14e.c6e16e"]]},{"id":"e4772114.e677c","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"it was my pleasure madam","payload":"it was my pleasure madam","topic":" ","group":"Movements","order":1,"x":170,"y":1540,"wires":[["388db14e.c6e16e"]]},{"id":"2a9cb9a5.0b80b6","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"what a great hug","payload":"what a great hug","topic":" ","group":"Movements","order":1,"x":140,"y":1580,"wires":[["388db14e.c6e16e"]]},{"id":"4851fc97.987174","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"you are very professional doing hugging","payload":"you are very professional doing hugging","topic":" ","group":"Movements","order":1,"x":210,"y":1620,"wires":[["388db14e.c6e16e"]]},{"id":"6cef6b9b.4a4894","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"i could hug forever like this","payload":"i could hug forever like this","topic":" ","group":"Movements","order":1,"x":170,"y":1660,"wires":[["388db14e.c6e16e"]]},{"id":"36ad39a0.a4b7a6","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"oh, that was something","payload":"oh, that was something","topic":" ","group":"Movements","order":1,"x":160,"y":1700,"wires":[["388db14e.c6e16e"]]},{"id":"5c80a5ba.59965c","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"did you film this one?","payload":"did you film this one?","topic":" ","group":"Movements","order":1,"x":160,"y":1740,"wires":[["388db14e.c6e16e"]]},{"id":"f565dce9.3a3d6","type":"ui_button","z":"dcd5f882.362f58","tab":"15f5b6fa.08a479","name":"did you film this one?","payload":"did you film this one?","topic":" ","group":"Movements","order":1,"x":160,"y":1780,"wires":[["388db14e.c6e16e"]]},{"id":"5feaa49c.1c6e0c","type":"http request","z":"dcd5f882.362f58","name":"","method":"GET","ret":"txt","url":"https://i.gi.ai/roboy/recordhug","tls":"","x":410,"y":4120,"wires":[[]]},{"id":"5c7c1ad8.a4f6e4","type":"base64","z":"8d757931.ca52c8","name":"Encode","action":"","property":"payload","x":554,"y":444,"wires":[["db542d4e.8043d"]]}]